# UNITY #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ogs/

#etc#
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.pdb.meta
*.pdb
*.booproj
*.svd
*.zip
*.mp4
*.aab
.vscode/
.vs/

*.apk

.DS_Store
Thumbs.db
launch.json
